select{
    margin-left: 50%;
    background-color: blue;
    color:white;
}
li{
    font-size: 20px;
}
button{
    margin-left: 75%;
}
div{
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}
#select{
    background-color: white;
    color:black;
}
